html {
  background: url("Background.jpg");
  background-color: #222;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.LinkGroup {
  width: auto;

  margin: 25px;
}

.LinkGroupLabel {
  display: none; /* Currently Disabled */
  text-align: center;

  border-bottom: 2px solid white;
  padding: 5px;
  margin-bottom: 5px;

  font-size: 25px;
}

.LinkItems {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.LinkItem {
  width: 100px;
  height: 100px;

  text-decoration: none;
  color: inherit;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px;
}

.LinkItem {
  border-radius: 20px;
  background: linear-gradient(135deg, #222, #1d1d1d);
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  outline: none;
  position: relative;
  overflow: hidden;
}

.LinkItem::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 10%,
    transparent 70%
  );
  top: -50%;
  left: -50%;
  transition: transform 0.4s ease;
}

.LinkItem:hover::before {
  transform: scale(1.8);
}

.LinkItem:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.LinkItem:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.LinkIcon {
  width: 40px;
  height: 40px;
}

.LinkLabel {
  padding-top: 5px;
  font-size: 18px;
}

.ExpertCard {
  border: 1px solid rgba(246, 211, 106, 0.55);
  border-radius: 10px;
}

.ExpertCard h3 {
  border-bottom: 2px solid rgba(246, 211, 106, 0.55);
}
